@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap');

:root {
    --fonte-nunito: 'Nunito Sans', sans-serif;
    --branco: rgba(255, 255, 255, 0.98);
    --azul-medium: rgb(0, 133, 250);
    --azul-dark: #003260;
    --azul-darker: #0D022E;
    --rosa-destaque: rgb(193, 40, 193);
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    height: calc(100% - 121px);
    width: 100vw;
    transition: height .3s;
    transition-timing-function: ea;
}

/* NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 56px;
    background-color: var(--azul-darker);
    margin-bottom: auto;
    padding: 0 15px;
    transition: height .3s;
    transition-timing-function: ease;
}

nav.open>#navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-top: 3px solid var(--azul-medium);
    background-color: var(--azul-darker);
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 100%;
    padding: 10px 0 0 0;
}

nav.open>#navigation>li {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid var(--rosa-destaque);
    box-shadow: 0px 10px 20px 8px rgb(0 0 0 / 30%);
}

#logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
    gap: .8rem;
}

#logo>img {
    height: 45px;
    width: 45px;
    background-color: var(--branco);
    border-radius: 50%;
}

#logo-name {
    display: flex;
    align-items: center;
    height: 100%;
}

#logo-name>p {
    color: var(--branco);
    font-family: var(--fonte-nunito);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .4em;
    margin: 0;
}

#navigation {
    display: none;
    gap: 10px;
    position: relative;
    margin: 0;
}

#navigation>li {
    list-style: none;
}

#navigation>li>a {
    text-decoration: none;
    color: var(--branco);
    letter-spacing: .2em;
    font-weight: 700;
}

#navigation>li>a:hover {
    color: var(--azul-medium);
}

#menu-button {
    display: flex;
    align-items: center;
}

#menuToggle {
    color: var(--branco);
    font-size: 2em;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    width: 100vw;
    height: 65px;
    margin-top: auto;
    background-color: var(--azul-darker);
    transition: height .3s;
    transition-timing-function: ease;
}

footer>section {
    display: flex;
    height: calc(100% - 25px);
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer--link {
    display: flex;
    gap: 5px;
}

.footer--link>a {
    color: var(--branco);
    text-decoration: none;
}

.footer--link>a:hover {
    color: var(--rosa-destaque);
    text-decoration: underline;
}

.footer--link>p {
    color: var(--branco);
    margin: 0;
}

.footer--icon {
    color: var(--branco);
}

#footer-ref {
    height: 25px;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #000;
}

#footer-ref>span {
    color: var(--branco);
}

#footer-ref>span>a {
    color: var(--azul-medium);
    text-decoration: underline;
    text-transform: uppercase;
}

#footer-ref>span>a:hover {
    color: var(--rosa-destaque);
}