@charset 'UTF-8';


@media only screen and (min-width: 768px) {

    #login-section, #registro-section {
        width: 400px;
    }

    #login-section {
        height: 415px;
    }

    .titulo-form {
        font-size: 2.2em;
    }
    
    .form--input {
        width: 340px;
    }

    .password-area {
        width: 300px;
    }

    #cadBtn {
        width: 300px;
    }
    
    #registro-section {
        height: 570px;
    }

    #cadTitle {
        display: flex;
        gap: 1rem;
    }

    #backBtn {
        padding-top: 4px;
    }

    .form--button {
        width: 80%;
    }

    .form--label {
        font-size: 1.2em;
    }

    #cadastro-sucesso {
        width: 300px;
    }

}

@media only screen and (min-width: 992px) {

    #login-section {
        height: 440px;
    }

    .titulo-form {
        font-size: 2.5em;
    }

    #backBtn {
        padding-top: 6px;
    }

    #cadBtn {
        height: 56px;
        width: 350px;
    }
}